html 
    head 
        title="Plantilla Pug"
    body 
        h1="Lista de Productos"
        section
            if exist  
                each val in (products)
                    ul
                        li="Nombre: " +  val.title
                        li="Precio: " + val.price
                        li
                            img(src=thumbnail)
                        hr
            else
                p="No hay productos registrados aun"
            a(href="./products")="volver"
